
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Event</title>
</head>
<body>
    <div> 
        <h1>This is our Event Page</h1>
    </div>
</body>
</html>
